@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Supermercado+One');
body{
background:url("1.JPG") no-repeat  ;
overflow:hidden;
background-size:1600px 900px;

}
.d{
	position:relative;
	left:600px;
	right:50px;
}
	

.rt{
	line-style:none;
	display:inline;
	
}
ul li{margin-left:30px;
margin-right:30px;
	padding:10px;
	padding-right:50px;
	
	text-align:center;
	border-right:1px solid white;
	display:inline;
}
	
	
ul li a{color:black;
font-family:sans-serif;
font-style:bold;
font-weight:bold;

font-size:30px;
	text-decoration:none;
	display:inline;
	}
	.contact{
		font-family:sans;
font-style:bold;
border-radius:50px;
font-weight:bold;
font-size:30px;
		padding:10px;
		border:0px;
		color:blue;
		background-color:skyblue;
		}
.contact:hover{
	color:red;
	cursor:pointer;
	
}
a:hover{
	
	color:white;
	
}
	
	.ert{position:relative;
	top:100px;
	left:170px;
	font-family: 'Supermercado One', cursive;
		height:100px;
		width:800px;
		color:white;
     font-size:60px;	
	 
	}
.i{
	position:relative;
	top:20px;
	left:200px;
	font-family: 'Roboto Slab', serif;
		height:300px;
		width:400px;
		color:yellow;
     font-size:40px;	
}
	.q{position:absolute;
	top:1px;
	left:0px;
margin:0px;
border:0px;
width:200px;
height:100px;
margin-top:0px;

	}
img{width:200px;
height:100px;}
	
		